{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Create your poll{% endblock %}

{% block page_body %}
	{% with flash_messages=question_form.non_field_errors|add:choice_forms.non_form_errors %}
		{% for message in flash_messages %}
			<div class="error">{{ message }}</div>
		{% endfor %}
	{% endwith %}
	<form action="{% url 'polls:create-poll' %}" method="post">
		{% csrf_token %}
		<div class="field-wrapper">
			<label>{{ question_form.question.label }}:</label>
			{{ question_form.question }}
			<div class="error-field">
				{{ question_form.question.errors }}
			</div>
		</div>
		<div id="formset-placeholder">
			{{ choice_forms.management_form }}
			<div class="add-wrapper">
				<input type="button" class="button-sm add" value="add">
			</div>
			{% for choice_form in choice_forms.forms %}
				<div class="dynamic-wrapper">
						<label>{{ choice_form.option.label }} #{{ forloop.counter }}:</label>
						{{ choice_form.option }}
						<input type="button" class="button-sm del" value="delete">
					<div class="error-field">
						{{ choice_form.option.errors }}
					</div>
				</div>
			{% endfor %}
		</div>
		<input type="submit" value="Create"/>
		<a href="{% url 'polls:index' %}" class="button-md del">Cancel</a>
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'polls/js/formset_handler.js' %}"></script>
{% endblock %}
