{% extends "base_template.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'polls/js/dynamic-forms.js' %}"></script>
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Create your poll{% endblock %}

{% block page_body %}
	{% with flash_messages=form.non_field_errors %}
		{% for message in flash_messages %}
			<div class="error">{{ message }}</div>
		{% endfor %}
	{% endwith %}
	<form action="{% url 'polls:create-poll' %}" method="post">
		{% csrf_token %}
		{{ question_form }}
		<div id="formset-placeholder">
			{{ choice_forms.management_form }}
			<div class="dynamic-form">
				{% for choice_form in choice_forms %}
						<input type="button" class="delete-form-row" value="delete">
						{{ choice_form.choice }}
				{% endfor %}
			</div>
		</div>
		<input type="submit" value="Create"/>
		<input type="button" class="add-form-row" value="add">
	</form>
{% endblock %}

{% block js %}
	<script>
		var callbacks = {
			"setup": function(choice_form) {
			$(choice_form.form_selector).find(".delete-form-row").click( function(e) {
				e.preventDefault();
				choice_form.delete_form(this);
			});
			$(".add-form-row").click( function(e) {
					e.preventDefault();
					choice_form.add_form();
				});
			}, 
		
			"add_form": function(choice_form, form, index) {
				$(form).find(".delete-form-row").click( function(e) {
					e.preventDefault();
					choice_form.delete_form(this);
			});
			if (index % 2 !== 0)
				$(form).removeClass("light");
			},
			
			"update_all": function(choice_form, form, index) {
				if (index % 2 === 0)
					$(form).addClass("light");
				else
					$(form).removeClass("light");
			}
		};
		
		var choice_form = new Formset();
		
		choice_form.setup({
			prefix: "{{ choice_forms.prefix }}",
			callbacks: callbacks
		});
	</script>
{% endblock %}
