{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Create your poll{% endblock %}

{% block page_body %}
	{% with flash_messages=question_form.non_field_errors|add:choice_forms.non_form_errors %}
		{% for message in flash_messages %}
			<div class="error">{{ message }}</div>
		{% endfor %}
	{% endwith %}
	<form action="{% url 'polls:create-poll' %}" method="post">
		{% csrf_token %}
		<div class="field-wrapper">
			<label>{{ question_form.question.label }}:</label>
			{{ question_form.question }}
			<div class="error-field">
				{{ question_form.question.errors }}
			</div>
		</div>
		<div id="formset-placeholder">
			{{ choice_forms.management_form }}
			<div class="add-wrapper">
				<input type="button" class="button-sm add" value="add">
			</div>
			{% for choice_form in choice_forms.forms %}
				<div class="dynamic-wrapper">
						<label>{{ choice_form.option.label }} #{{ forloop.counter }}:</label>
						{{ choice_form.option }}
						<input type="button" class="button-sm del" value="delete">
					<div class="error-field">
						{{ choice_form.option.errors }}
					</div>
				</div>
			{% endfor %}
		</div>
		<input type="submit" value="Create"/>
		<a href="{% url 'polls:index' %}" class="button-md del">Cancel</a>
	</form>
{% endblock %}

{% block js %}
	<script>
		(function() {
		  var formsetChoice = {
		    init: function() {
		      this.cacheDom();
		      this.bindEvents();
		      this.updForm();
		    },
		    cacheDom: function(){
		      this.formsetSelector = "#formset-placeholder";
		      this.choiceSelector = ".dynamic-wrapper";
		      this.addSelector = ".add";
		      this.delSelector = ".del";
		      
		      this.$choicesPlaceHolder = $(this.formsetSelector);
		      // find add button
		      this.$addButton = this.$choicesPlaceHolder.find(this.addSelector);
		      // find delete buttons
		      this.$delButtons = this.$choicesPlaceHolder.find(this.delSelector);
		      // find TOTAL_NUM_FORMS
		      this.$totalField = this.$choicesPlaceHolder.find("#id_form-TOTAL_FORMS");
		      // find MIN_NUM_FORMS
		      this.$minChoices = Number(this.$choicesPlaceHolder.find("#id_form-MIN_NUM_FORMS").val());
		      // find MAX_NUM_FORMS
		      this.$maxChoices = Number(this.$choicesPlaceHolder.find("#id_form-MAX_NUM_FORMS").val());
		      // last sibling
		      this.$lastSibling = this.$choicesPlaceHolder.find(this.choiceSelector + ":last");
		      // empty form
		      this.$emptyForm = this.$lastSibling.clone(true)
		      this.$emptyForm.find("input").removeAttr("checked")
		        .removeAttr("selected")
		        .not(":button, :submit, :reset, [type='hidden'], :radio, :checkbox")
		        .val("")
		        .attr("value", ""); // Handle UpdateView default values
		    },
		    bindEvents: function() {
		    // on click add
		      this.$addButton.on("click", this.addForm.bind(this));
		    // on click delete
		      this.$choicesPlaceHolder.delegate(this.delSelector, "click", this.delForm.bind(this));
		    },
		    updForm: function() {
					var $labels = this.$choicesPlaceHolder.find("label");
		      var $fields = this.$choicesPlaceHolder.find("input[type='text']");
		      var newTotal = $fields.length
		      
		      for(var i = 0; i < newTotal; i++) {
						var label = $labels.get(i);
		        var field = $fields.get(i);
		        
		        $(label).html("Option #" + (i+1) + ":");
		        $(field).attr("id", "id_form-" + i + "-option");
		        $(field).attr("name", "form-" + i + "-option");
		      }
		      this.$totalField.val(newTotal);
		      this.$delButtons = this.$choicesPlaceHolder.find(this.delSelector);

		      if(newTotal >= this.$maxChoices)
		        this.$addButton.attr("disabled", "disabled");
		      else if(this.$addButton.attr("disabled") === "disabled")
		        this.$addButton.removeAttr("disabled");
		      
		      if(newTotal <= this.$minChoices)
		        this.$delButtons.attr("disabled", "disabled");
		      else if(this.$delButtons.attr("disabled") === "disabled")
		        this.$delButtons.removeAttr("disabled");
		    },
		    // DEFINE LISTENERS -----------------------------------------
		    addForm: function() {
		      var $newSibling = this.$emptyForm.clone(true);
		    //   add new choice field
		      $newSibling.insertAfter(this.$lastSibling);
		    //   update
		      this.$lastSibling = this.$choicesPlaceHolder.find(this.choiceSelector + ":last");
		      this.updForm();
		    },
		    delForm: function(event) {
		    //   delete choice field
		      this.$choicesPlaceHolder.find(event.target).closest(this.choiceSelector).remove();
		    //   update
		      if(this.$choicesPlaceHolder.find(this.choiceSelector).length > 0)
		        this.$lastSibling = this.$choicesPlaceHolder.find(this.choiceSelector + ":last");
		      else
		        this.$lastSibling = this.$choicesPlaceHolder.find(":last-child");
		      this.updForm();
		    },
		  };
		  formsetChoice.init();
		})()
	</script>
{% endblock %}
