<!DOCTYPE HTML>
<html lang="eng">
  <head>
    <title>Polls</title>
    <!-- This will load the static tag used below to target the css file -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  </head>

  <body>
    <h1>Recent Polls</h1>
    <div>
    	<ul class="nav-bar nav-bar-btn">
    	{% if user.is_authenticated %}
	    	<li>{{ user.username }}</li>
		   	<li><a href="{% url 'polls:logout' %}">Sign out</a></li>
		  {% else %}
		  	<li><a href="{% url 'polls:signup' %}">Sign up</a></li>
		   	<li><a href="{% url 'polls:login' %}">Sign in</a></li>
		  {% endif %}
    	</ul>
    </div>
    <div class="flash-message-container">
      {% if messages %}
				{% for message in messages %}
					<p class="{{ message.tags }}">{{ message }}</p>
				{% endfor %}
			{% endif %}
    </div>
    </br>
    <div>
      {% if latest_question_list %}
        <!-- This url tag works wonderfully with my url definitions!
             Plus with the pulls key 'polls' there can be several 'detail'
             names on several applications. -->
        <div>
          {% for question in latest_question_list %}
            <p><a class="polls-list" href="{% url 'polls:vote' question.id %}">{{ question.question_text }}</a></p>
            <p class="pub-date">{{ question.pub_date }}</p>
          {% endfor %}
        </div>
      {% else %}
        <p>No polls are available.</p>
      {% endif %}
    </div>
  </body>
</html>

