{% extends "base_template.html" %}

{% block add_styles %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Active Polls{% endblock %}

{% block page_body %}
	{% if object_list %}
		{% for poll in object_list %}
			<div class="poll-container">
				<a href="{% url 'polls:vote' poll.pk %}" class="question-list">{{ poll.question }}</a>
				<p class="date-list">{{ poll.pub_date }}</p>
			</div>
		{% endfor %}
	{% else %}
		<div id="empty">No polls here... :(</div>
	{% endif %}
{% endblock %}
