{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Active Polls{% endblock %}

{% block page_body %}
	{% if object_list %}
		{% for poll in object_list %}
			<div class="poll-container clearfix">
				<a href="{% url 'polls:vote' poll.pk %}" class="question-list">{{ poll.question }}</a>
				<p class="date-list">{{ poll.created_on|date:"D d F Y" }}</p>
				<a href="{% url 'polls:results' poll.pk %}" class="voted">Voted {{ poll.get_total_votes }} time{{ poll.get_total_votes|pluralize }}</a>
				<a href="{% url 'polls:delete-poll' poll.pk %}" class="delete">Delete</a>
				<a href="{% url 'polls:update-poll' poll.pk %}" class="update">Update</a>
			</div>
		{% endfor %}
	{% else %}
		<div id="empty">No polls here... :(</div>
	{% endif %}
{% endblock %}
