<h1>Sign In</h1>

<div class="flash-message-container">
	{% with flash_messages=form.non_field_errors|add:messages %}
		{% for message in flash_messages %}
			<p class="{{ message.tags }}">{{ message }}</p>
		{% endfor %}
	{% endwith %}
</div>
<form action="{% url 'polls:login' %}" method="post">
	{% csrf_token %}
	<div class="fieldWrapper">
		<label for="{{ form.username.id_for_label }}">Username: </label>
		<p>{{ form.username }} <span class="form-field-error">{{ form.username.errors }}</span></p>
	</div>
	<div class="fieldWrapper">
		<label for="{{ form.password.id_for_label }}">Password: </label>
		<p>{{ form.password }} <span class="form-field-error">{{ form.password.errors }}</span></p>
	<input type="submit" value="Sign in"/>
</form>

