{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Join the ultimate polls site{% endblock %}

{% block page_body %}
	<div id="form-message-container">
		{% with flash_messages=form.non_field_errors %}
			{% for message in flash_messages %}
				<div class="error">{{ message }}</div>
			{% endfor %}
		{% endwith %}
	</div>
	<form action="{% url 'polls:signup' %}" method="post">
		{% csrf_token %}
		<div class="field-wrapper">
			<label for="{{ form.username.id_for_label }}">{{ form.username.label }} </label>
			<p>{{ form.username }} <span class="form-field-error">{{ form.username.errors }}</span></p>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
			<p>{{ form.email }} <span class="form-field-error">{{ form.email.errors }}</span></p>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
			<p>{{ form.password }} <span class="form-field-error">{{ form.password.errors }}</span></p>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
			<p>{{ form.confirm_password }} <span class="form-field-error">{{ form.confirm_password.errors }}</span></p>
		</div>
		<input type="submit" value="Sign up"/>
	</form>
{% endblock %}
