{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Join the ultimate polls site{% endblock %}

{% block page_body %}
	<div id="form-message-container">
		{% with flash_messages=form.non_field_errors %}
			{% for message in flash_messages %}
				<div class="error">{{ message }}</div>
			{% endfor %}
		{% endwith %}
	</div>
	<form action="{% url 'polls:signup' %}" method="post">
		{% csrf_token %}
		<div class="field-wrapper">
			<label for="{{ form.username.id_for_label }}">{{ form.username.label }} </label>
			{{ form.username }}
			<div class="error-field">
				{{ form.username.errors }}
			</div>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
			{{ form.password1 }}
			<div class="error-field">
				{{ form.password1.errors }}
			</div>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
			{{ form.password2 }}
			<div class="error-field">
				{{ form.password2.errors }}
			</div>
		</div>
		<input type="submit" value="Sign up"/>
	</form>
{% endblock %}
