{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'polls/js/dynamic-forms.js' %}"></script>
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Update your poll{% endblock %}

{% block page_body %}
	{% with flash_messages=question_form.non_field_errors|add:choice_forms.non_form_errors %}
		{% for message in flash_messages %}
			<div class="error">{{ message }}</div>
		{% endfor %}
	{% endwith %}
	<form action="{% url 'polls:update-poll' poll.pk %}" method="post">
		{% csrf_token %}
		<div class="field-wrapper">
			<label for="{{ question_form.question.label }}">{{ question_form.question.label }}</label>
			{{ question_form.question }}
			<div class="error-field">
				{{ question_form.question.errors }}
			</div>
		</div>
		<div id="formset-placeholder">
			{{ choice_forms.management_form }}
			<label>Choices</label>
			<input type="button" class="add-form-row" value="add">
			{% for choice_form in choice_forms.forms %}
				<div class="dynamic-form">
						<input type="button" class="delete-form-row" value="delete">
						{{ choice_form.option }}
						<div class="error-field">
							{{ choice_form.option.errors }}
						</div>
				</div>
			{% endfor %}
		</div>
		<input type="submit" value="Update"/>
		<a href="{% url 'polls:index' %}" class="cancel">Cancel</a>
	</form>
{% endblock %}

{% block js %}
	<script>
		var callbacks = {
			"setup": function(choice_form) {
			$(choice_form.form_selector).find(".delete-form-row").click( function(e) {
				e.preventDefault();
				choice_form.delete_form(this);
			});
			$(".add-form-row").click( function(e) {
					e.preventDefault();
					choice_form.add_form();
				});
			}, 
		
			"add_form": function(choice_form, form, index) {
				$(form).find(".delete-form-row").click( function(e) {
					e.preventDefault();
					choice_form.delete_form(this);
			});
			if (index % 2 !== 0)
				$(form).removeClass("light");
			},
			
			"update_all": function(choice_form, form, index) {
				if (index % 2 === 0)
					$(form).addClass("light");
				else
					$(form).removeClass("light");
			}
		};
		
		var choice_form = new Formset();
		
		choice_form.setup({
			prefix: "{{ choice_forms.prefix }}",
			callbacks: callbacks
		});
	</script>
{% endblock %}
