{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Update your account, {{ polluser.username }}{% endblock %}

{% block page_body %}
	<div id="form-message-container">
		{% with flash_messages=form.non_field_errors %}
			{% for message in flash_messages %}
				<div class="error">{{ message }}</div>
			{% endfor %}
		{% endwith %}
	</div>
	<form action="{% url 'polls:accounts' polluser.pk %}" method="post">
		{% csrf_token %}
		<div class="field-wrapper">
			<label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
			{{ form.first_name }}
			<div class="error-field">
				{{ form.first_name.errors }}
			</div>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
			{{ form.last_name }}
			<div class="error-field">
				{{ form.last_name.errors }}
			</div>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
			{{ form.username }}
			<div class="error-field">
				{{ form.username.errors }}
			</div>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
			{{ form.email }}
			<div class="error-field">
				{{ form.email.errors }}
			</div>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
			{{ form.password }}
			<div class="error-field">
				{{ form.password.errors }}
			</div>
		</div>
		<div class="field-wrapper">
			<label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
			{{ form.confirm_password }}
			<div class="error-field">
				{{ form.confirm_password.errors }}
			</div>
		</div>
		<input type="submit" value="Update"/>
	</form>
{% endblock %}
