{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/form_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}Vote{% endblock %}

{% block page_body %}
	<div id="form-message-container">
		{% with flash_messages=form.non_field_errors %}
			{% for message in flash_messages %}
				<div class="error">{{ message }}</div>
			{% endfor %}
		{% endwith %}
	</div>
	<h2>{{ form.question_text }}</h2>
	<form action="{% url 'polls:vote' form.question_pk %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Vote"/>
	</form>
{% endblock %}
