{% extends "base_template.html" %}
{% load staticfiles %}

{% block add_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/form_style.css' %}">
{% endblock %}

{% block flash_messages_block %}
	{% with flash_messages=messages %}
		{% for message in flash_messages %}
			<div class="{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endwith %}
{% endblock %}

{% block page_title %}{{ poll.question }}{% endblock %}

{% block page_body %}
	<div id="form-message-container">
		{% with flash_messages=form.non_field_errors %}
			{% for message in flash_messages %}
				<div class="error">{{ message }}</div>
			{% endfor %}
		{% endwith %}
	</div>
	<form action="{% url 'polls:vote' poll.pk %}" method="post">
		{% csrf_token %}
		<div class="field-wrapper">
			{{ form.option_set }}
			<div class="error-field">
				{{ form.option_set.errors }}
			</div>
		</div>
		<input type="submit" value="Vote"/>
		<a href="{% url 'polls:index' %}" class="button-md del">Cancel</a>
	</form>
{% endblock %}
