<h1>{{ question.question_text }}</h1>

<div class="flash-message-container">
	{% with flash_messages=form.choice_text.error_messages|add:messages %}
		{% for message in flash_messages %}
			<p class="{{ message.tags }}">{{ message }}</p>
		{% endfor %}
	{% endwith %}
</div>
<form action="{% url 'polls:vote' question.pk %}" method="post">
	{% csrf_token %}
<!--	{% with choices=form.choice_text.choice_text_choices %}-->
<!--			<div class="fieldWrapper">-->
<!--		{% for choice in choices %}-->
<!--<!--				<p>{{ form.choice_text.widget }}<label for="choice{{ forloop.counter }}">{{ choice }}</label></p>-->-->
<!--				{{ choice }}-->
<!--			</div>-->
<!--		{% endfor %}-->
<!--	{% endwith %}-->
	{{ form.choice_text.choice_text_choices }}
	<input type="submit" value="Vote"/>
</form>
