/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  color: #808080; }
  body h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    text-align: center; }
  body a {
    text-decoration: none;
    color: #808080; }
    body a:hover {
      color: #2c89a0; }

div, #navigation {
  background-color: white; }

#navigation {
  padding: 1rem 15%; }
  #navigation #logo {
    float: left;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: #808080; }
  #navigation nav {
    float: right; }
    #navigation nav a {
      margin: 0 0.7em;
      font-size: 1em; }
    #navigation nav #username {
      margin: 0 2em;
      font-weight: 700;
      color: #2c89a0; }

#flash-message-container {
  background-color: #f2f2f2;
  height: 2em;
  width: 100%;
  margin: 0;
  padding: 0; }

.success {
  height: 100%;
  width: 100%;
  line-height: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #00cc00;
  background-color: #ccffcc; }

.warning {
  height: 100%;
  width: 100%;
  line-height: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #cccc00;
  background-color: #ffffcc; }

.error {
  height: 100%;
  width: 100%;
  line-height: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #cc0000;
  background-color: #ffcccc; }

.button-sm {
  margin: 2px 5px;
  padding: 0.25rem 0.5rem;
  display: block;
  text-align: center;
  font-size: 0.7rem;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out; }
  .button-sm.add {
    background: #2c89a0; }
    .button-sm.add:hover, .button-sm.add:focus {
      color: white;
      background: #216778; }
  .button-sm.del {
    background: #d35f5f;
    color: white; }
    .button-sm.del:hover, .button-sm.del:focus {
      background: #c83737; }
  .button-sm.disabled {
    pointer-events: none;
    cursor: default;
    background: #808080; }

.button-md {
  margin: 5px 7px;
  padding: 0.5rem 1rem;
  display: block;
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out; }
  .button-md.add {
    background-color: #2c89a0; }
    .button-md.add:hover, .button-md.add:focus {
      color: white;
      background: #216778; }
  .button-md.del {
    background-color: #d35f5f; }
    .button-md.del:hover, .button-md.del:focus {
      color: white;
      background: #c83737; }
  .button-md.disabled {
    pointer-events: none;
    cursor: default;
    background: #808080; }

/*# sourceMappingURL=base_style.css.map */
