@import "color_style";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: $background;
	font-family: 'Lato', sans-serif;
	h1 {
		margin-top: 0;
		margin-bottom: 1rem;
		font-size: 2rem;
		font-weight: 300;
		text-align: center;
	}
	color: $dark;
	a {
		text-decoration: none;
		color: $dark;
		&:hover {
			color: $highlight;
		}
	}
}
div, #navigation {
	background: white;
}
#navigation {
	padding: 1rem 15%;
	#logo {
		float: left;
		font-weight: 700;
		font-size: 1em;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.2em;
		color: $dark;
		}
	nav {
		float: right;
		a {
			margin: 0 0.7em;
			font-size: 1em;
			}
		#username {
			margin: 0 2em;
			font-weight: 700;
			color: $highlight;
		}
	}
}
#flash-message-container {
	background: $background;
	height: 2em;
	width: 100%;
	margin: 0;
	padding: 0;
}
.success {
	height: 100%;
	width: 100%;
	line-height: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-align: center;
	color: $success;
	background: $bg_success;
}
.warning {
	height: 100%;
	width: 100%;
	line-height: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-align: center;
	color: $warning;
	background: $bg_warning;
}
.error {
	height: 100%;
	width: 100%;
	line-height: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-align: center;
	color: $error;
	background: $bg_error;
}
.button-sm,.button-md,input[type="submit"],input[type="button"] {
	color: white;
	background: transparent;
	outline: none;
	border: none;
	text-align: center;
	transition: all 0.2s ease-in-out;
}
.button-sm {
	width: 3.5rem;
	margin: 2px 5px;
	padding: 0.25rem 0.5rem;
	font-size: 0.7rem;
	border-radius: 0.2rem;
	&.add {
		background: $highlight;
		&:hover,&:focus {
			color: white;
			background: darken($highlight, 10%);
		}
	}
	&.del {
		background: $light;
		color: white;
		&:hover,&:focus {
			background: darken($light, 10%);
		}
	}
	&.disabled,&:disabled {
		pointer-events: none;
		cursor: default;
		background: $dark;
	}
}
.button-md,input[type="submit"] {
	width: 5rem;
	margin: 5px 7px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	&.add {
		background: $highlight;
		&:hover,&:focus {
			color: white;
			background: darken($highlight, 10%);
		}
	}
	&.del {
		background: $light;
		&:hover,&:focus {
			color: white;
			background: darken($light, 10%);
		}
	}
	&.disabled {
		pointer-events: none;
		cursor: default;
		background: $dark;
	}
}
input[type="submit"] {
	background: $highlight;
	&:hover,&:focus {
		color: white;
		background: darken($highlight, 10%);
	}
}
