$background: #f2f2f2;
$dark: #808080;
$light: #d35f5f;
/*
$highlight: #008066;
*/
$highlight: #2c89a0;

$success: #00cc00;
$error: #cc0000;
$warning: #cccc00;

$bg_success: #ccffcc;
$bg_error:   #ffcccc;
$bg_warning: #ffffcc;
