@import "color_style";

#page-body {
	width: 60%;
	text-align: left;
	#form-message-container {
		height: 2em;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	label {
		margin-right: 10px;
		font-weight: 300;
	}
	div:last-of-type {
		margin-bottom: 2.5rem;
	}
}
.field-wrapper,.dynamic-wrapper,.add-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	.error-field {
		height: 1rem;
		width: 100%;
		max-width: 100%;
		color: $error;
	}
}
.add-wrapper {
	justify-content: flex-end;
}
.errorlist,#id_option_set {
	padding: 0;
	display: inline;
	list-style: none;
	&li {
		margin: 1rem auto;
	}
}
input[type="text"],input[type="email"],input[type="password"] {
	height: 1.5rem;
	margin: 1.5rem 0 0 0;
	padding: 0;
	border: none;
	border-bottom: 1.5px solid $dark;
	flex-grow: 2;
	color: $dark;
	transition: all 0.2s ease-in-out;
	&:focus {
		outline: none;
		border: none;
		border-bottom: 1.5px solid $light;
	}
}
