@import "color_style";

#page-body {
	min-height: 500px;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 10px 5px $dark;
	.poll-container {
		margin-top: 3rem;
		padding-bottom: 4px;
		border-bottom: 2px solid $light;
		text-align: left;
		.poll-item {
			float: left;
			.question {
				font-size: 1.5rem;
				font-weight: 700;
				font-color: $dark;
			}
			.date {
				margin: 2px 0 0 0;
				font-size: 0.7rem;
				font-color: $light;
			}
		}
		.poll-info {
			margin-top: 1.2rem;
			float: right;
			.update,.delete {
				margin-right: 0.5rem;
				padding: 0.25rem 0.5rem;
				font-size: 0.7rem;
				color: white;
				border: none;
				border-radius: 4px;
				transition: 0.5s;
			}
			.update{
				background-color: $highlight;
				&:hover,&:focus {
					background-color: darken($highlight, 10%);
				}
			}
			.delete{
				background-color: $light;
				&:hover,&:focus {
					background-color: darken($light, 10%);
				}
			}
			.voted {
				margin-left: 0.5rem;
				font-size: 0.7rem;
				font-weight: 700;
			}
		}
	}
}

#empty {
	font-size: 2em;
	font-weight: 700;
	line-height: 500px;
	color: $light;
}
