<!DOCTYPE HTML>
<html lang="eng">
  <head>
    {% load staticfiles %}
    <title>Polls Site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/normalize.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/base_style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% block add_styles %}
    {% endblock %}
  </head>
  <body>
		<header id="navigation">
				<a href="{% url 'polls:index' %}" id="logo">polls</a>
				<nav>
					{% if user.is_authenticated %}
						<a href="{% url 'polls:accounts' user.pk %}" id="username">{{ user.first_name|default:user.username }}</a>
						<a href="{% url 'polls:create-poll' %}">Create</a>
						<a href="{% url 'polls:logout' %}">Sign out</a>
					{% else %}
						<a href="{% url 'polls:signup' %}">Sign up</a>
						<a href="{% url 'polls:login' %}">Sign in</a>
					{% endif %}
				</nav>
		</header>
		<div id="flash-message-container">
			{% block flash_messages_block %}
			{% endblock %}
		</div>
			<div id="page-body">
				<h1 id="page-title">{% block page_title %}{% endblock %}</h1>
				{% block page_body %}
				{% endblock %}
			</div>
		
		<script>
			$(function() {
				var $DOM = $(document);
				var $message = $DOM.find(".error,.warning,.success");
				
				if($message)
					//$message.one("click", hideNow);
					$DOM.one("mousemove", hideWithDelay);

				//function hideNow(event) {
					//$message.fadeOut(500);
				//};
				function hideWithDelay() {
					$message.delay(4000).fadeOut(500);
				};
			});
		</script>
		{% block js %}
		{% endblock %}
	</body>
</html>
